* {
    padding: 0px;
    margin: 0px;
    font-family: "微软雅黑";
    font-size: 12px;
}

#GridView1 td {
    text-align: center;
    padding: 5px;
}

#pager div {
    float: left;
}

#pager {
    margin-top: 10px;
}

    #pager div a, .ccu {
        width: 50px;
        height: 30px;
        background-color: #6dbaa8;
        color: #fff;
        text-align: center;
        line-height: 30px;
        display: block;
        margin: 0px 5px;
    }

    #pager .bg a {
        background-color: #ade9d9;
    }
