* {
    padding: 0px;
    margin: 0px;
}

.ig {
    position: absolute;
}

    .ig img {
        width: 200px;
        padding: 5px;
        background-color: #ff0000;
        border-radius: 12px;
    }

.ig1 {
    top: 50px;
    left: 50px;
    transform: rotate(30deg);
}

.ig2 {
    top: 50px;
    left: 100px;
    transform: rotate(-30deg);
}

.ig3 {
    top: 250px;
    left: 250px;
    transform: rotate(60deg);
}

.ig4 {
    top: 50px;
    left: 250px;
    transform: rotate(30deg);
}

.ig5 {
    top: 150px;
    left: 150px;
    transform: rotate(-40deg);
}

.ig:hover {
    transform: rotate(0deg) scale(1.2);
    transition: transform 1s ease;
    z-index: 2;
}
