* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow: hidden;
}

#dbird {
    position: absolute;
    width: 206px;
    height: 121px;
}
.direction-37 {
    transform: rotateY(180deg);
}
.direction-38 {
    transform: rotate(-60deg);
}
.direction-40 {
    transform: rotate(60deg);
}
