* {
    padding: 0px;
    margin: 0px;
}

#d1 {
    width: 642px;
    height: 382px;
    background-image: url("../img/11.jpg");
    position: absolute;
    left: 50%;
    margin-left: -321px;
    animation: donghua 4s infinite linear;
}

@keyframes donghua {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
