* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #d44c4c;
}

#d1 {
    width: 854px;
    height: 504px;
    background-image: url("../img/bg1.png");
}

#d2 {
    width: 294px;
    height: 294px;
    background-image: url("../img/arrow.png");
    position: absolute;
    top: 105px;
    left: 181px;
    cursor: pointer;
}
